@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<WebApiTest.Model.Datapoint>

@{
    ViewData["Title"] = "About";
}
<style type="text/css">
    #your_col {
      border-left: 1px solid black;
    }
</style>


<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>


<table class="table">
    <tr>
        @{var document = (ViewData["list"] as List<MongoDB.Bson.BsonDocument>).FirstOrDefault();}
        @for(int i = 0; i < document.ElementCount; i++)
        {

            <td>
                <div id="your_col">
                    @{ string name = document.ElementAt(i).Name;}
                    &nbsp;
                    @if (name.Length > 7)
                    { @name.Substring(0, 6)
                    }
                    else
                    {
                        @name
                    }
                    
                    &nbsp;
                </div>
            </td>
        }
        <th></th>
    </tr>
    @foreach (var Datapoint in (ViewData["list"] as List<MongoDB.Bson.BsonDocument>))
    {
        <tr>      
            @for (int i = 0; i < Datapoint.ElementCount; i++)
            {
            <td>
                <div id="your_col">
                    &nbsp;
                    @{var element = Datapoint.ElementAt(i);}
                    @if (element.Value.IsInt32)
                   {
                        @element.Value.AsInt32;
                    }
                    else if (element.Value.IsDouble)
                    {  
                        @(Math.Round((float)element.Value.AsDouble,2));
                    }
                    else if (element.Value.IsValidDateTime)
                    { 
                        @element.Value.ToUniversalTime().ToString("dd/MM/yy H:mm");
                    }
                    &nbsp;
                </div>
            </td>
            }
        </tr>
    }

</table>

<p>Use this area to provide additional information.</p>
